.navBar{
    display: flex;
    flex-direction: column;
    height: 180px;
    background-color: rgb(30, 30, 30);
    justify-content: end;
    align-items: center;
    gap:75px;
    position: relative;
}

.search{
    display: flex;
    gap:800px;
}

.search img{
    width: 185px;
    height: 35px;
}

.search input{
    width: 285px;
    height: 40px;
    border-color: #FF0909;
    color: white;
    border-radius: 5px;
    text-align: start;
    padding: 0 10px;
    background-color: transparent;
    outline: none;
}

.Btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:12px;
    padding-bottom: 10px;
}

.cardContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(14, 11, 11);
    align-items: start;
    flex-wrap: wrap;
    position: relative;
}

.cartDiv{
    position: absolute;
    bottom:10px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartBtn{
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    position: relative;
    cursor: pointer;
    border: none;
}


.cartBtn div p{
    position: absolute;
    right: 25px;
    bottom: 40px;
    color: #FF0909;
}

.cartBtn img{
    width: 40px;
    height: 40px;
}

.bill{
    position: absolute;
    right: 0px;
    top: 0px;
}