.card{
    display: flex;
    width: 340px;
    height: 167px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    border: 0.66px solid black;
    position: relative;
    background-color: rgb(35, 35, 35);
}

.card img{
    border-radius: 50%;
}

.add{
    position: absolute;
    bottom: 10px;
    right: 94px;
}

.btn{
    width: 90px;
    height: 30px;
    padding: 5px; 
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
}

.btn:hover{
    color: white;
    background-color: #FF4343;
}

.text{
    display: flex;
    flex-direction: column;
}

.dish{
    font-weight: 600;
    font-size: 16px;
    color: white;
}

.data{
    font-weight: 400;
    font-size: 12px;
    color:white;
}


.price {
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-weight: 600;
    font-size: 14px;
    width: 57px;
    height: 25px;
    background-color: #FF4343;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
}

.count{
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 95px;
    gap:10px;
    justify-content: center;
    align-items: center;
}

.count button{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    border: none;

}

.count button:hover{
    color: white;
    background-color: #FF4343;
}

.count p{
    color: white;
}